@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bellota", system-ui;
    scroll-behavior: smooth;
}

a {
    text-align: center;
}

a img {
    width: 45px !important;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    position: fixed;
    width: 100%;
    color: #fff;
    font-weight: bold;
    border-bottom: 1px solid;
    font-size: 22px;
    background: #171717;
}

header a {
    text-decoration: none;
    color: #fff;
}



.menu-hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-hamburger .bar {
    height: 3px;
    width: 30px;
    background-color: #fff;
    margin: 4px 0;
}

@media screen and (max-width: 894px) {
    .links ul {
        display: none; 
        flex-direction: column; 
        position: absolute; 
        top: 60px; 
        left: 0;
        background-color: #171717; 
        width: 100%; 
        z-index: 1; 
    }

    .links.active ul {
        display: flex; 
    }

    .menu-hamburger {
        display: flex; 
    }
}


.apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    color: #fff;
    gap: 30px;
    margin: 0 auto;
}

#frase {
    color: #fff;
    text-align: center;
    font-size: 30px;
}

.apresentacao img {
    width: 290px !important;
    border-radius: 100%;
}

.subtitulo {
    font-size: 48px;
    text-align: center;
}

.links ul, .imagens ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.container-principal {
    height: 100vh;
    width: 100vw;
    background: #171717;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
}

.container-principal h1 {
    text-align: center;
    font-size: 96px;
    color: #fff;
}

.container-principal a {
    text-align: center;
}

.container-principal img {
    width: 45px;
    margin: 0 auto;
}

.container-principal p {
    font-size: 24px;
}

.container-formacao-academica {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 20%;
}

.container-formacao-academica img {
    width: 45px;
    margin: 0 auto;
}

.container-formacao-academica h2 { 
    text-align: center;
    font-size: 48px;
}

.card {
    border: 1px solid;
    width: 420px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 4px;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

.container-projetos {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 20%;
    background-color: #171717;
    color: #fff;
}

.container-projetos h2 {
    text-align: center;
    font-size: 48px;
}

.carrossel-container {
    position: relative;
    width: 80%;
    max-width: 1000px;
    overflow: hidden;
    margin: 0 auto;
}
  
.carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
  
.carrossel-container .card {
    flex: 0 0 calc(100% / 3);
    margin: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #171717;
}
  
.carrossel-container .card span {
    font-size: 20px;
  text-align: center;
}

.carrossel-container .card p {
    text-align: center;
}


.botao-navegacao {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 10;
    border-radius: 5px;
}
  
.botao-navegacao:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  
.botao-anterior {
    left: 10px;
}
  
.botao-proximo {
    right: 10px;
}


.container-stack {
    height: auto;
    min-height: 100vh;
    width: 100vw;
    background: #fff;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    gap: 120px;
}

.container-stack h2 { 
    text-align: center;
    font-size: 48px;
    color: #171717;
}

.container-stack div {
    margin: 0 auto;
    display: flex;
    gap: 40px;
}

.container-stack img {
    width: 90px;
}


.container-contato {
    height: 100vh;
    width: 100vw;
    background: #171717;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
}

.container-contato h2 {
    color: #fff;
}

.container-contato a {
    color: #fff;
}

.contato-card-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.contato-card {
    border: 1px #fff solid;
    width: 300px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contato-card a {
    text-decoration: none;
}

button {
    width: 280px;
    margin: 0 auto;
    display: block;
    padding: 16px;
    font-size: 16px;
}

.seta-voltar {
    transform: rotate(180deg);
}

.links {
    display: flex;
    gap: 20px;
}



.menu-hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-hamburger .bar {
    height: 3px;
    width: 30px;
    background-color: #fff;
    margin: 4px 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    position: fixed;
    width: 100%;
    color: #fff;
    font-weight: bold;
}



@media screen and (max-width: 896px) {
    .links ul {
        display: none;
    }
    .links.active ul {
        display: flex;
    }
    .menu-hamburger {
        display: flex;
    }
    }

.container-stack div {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container-stack div img {
    width: 70px;
}